.App {
    text-align: center;
}

.form-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px
}

form {
    display: inline;
}
  
textarea {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.tileSheet {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(32, 32px);
    grid-template-rows: repeat(32, 32px);
}

.tile {
    background-image: url(./assets/terrain_atlas.png);
}

.game-tile {
    border: black 1px dotted    
}

.map-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}